<!DOCTYPE HTML>
<html>
  <head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
    <div class="dropdown">
	 <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
		 Navigation Menu
		 <span class="caret"></span>
	 </button>
	 <ul class="dropdown-menu">
		 <li><a href="/">My Blog</a></li>
		 <li><a href="/blogList">List Blogs</a></li>
		 <li><a href="#">Add Blogs</a></li>
	 </ul>
    </div>

	<title><%= title %></title>
  </head>
  <body>
	<h1><%= title %></h1>
	<p> under construction</p>
  </body>
</html>
